/* ======================================================
   OEFENEN MET FLEXBOX
========================================================= */

/* Schrijf hier  jouw CSS! */

/* one */

.one {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

/* opdracht 2.2   */
.two {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
li {
    list-style-type: none;
    display: flex;
    padding: 10px;
    float: left;
}
.three {
    display: flex;
    justify-content: space-between;
    align-items: center;
}





/* opdracht 2.4 */

.four {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.five {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.five article {
    flex: 1 1 350px;
}